#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image-container {
    overflow: scroll;
    width: 98vw;
    height: 75vh;
    position: relative;
    display: inline-block;
    background-color: white;
}
#map.wizard {
    width: 75%;
    height: auto;
}
.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sample {
    background-color: black;
    width: 50px;
    height: 50px;
    margin: 2px 2px;
    border-radius: 25%;
}
legend {
    width: 75px;
    height: 15%;
    padding-bottom: 5px;
    padding-left: 20px;
}
.selected {
    outline: 3px solid orange;
}
#marker-palettes {
    display: flex;
    flex-direction: row;
}
#marker-palettes, #button-box {
    padding: 10px 10px;
}
.remove-button, .save-button {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
}
.remove-button {
    background-color: red;
}
.save-button {
    background-color: green;
}
.marker {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: medium solid white;
    border-radius: 25%;
}
.marker-remove {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 1px solid darkred;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    display: none;
}
.marker:hover .marker-remove {
    display: block;
}
/* Hero styling */
#liten, #litenMarker {
    background: url(/images/liten.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#munnin, #munninMarker {
    background: url(/images/munnin.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#ratKing, #ratKingMarker {
    background: url(/images/dingo.png) no-repeat center;
    background-size: contain;
    background-color: blue;
}
#saytar, #saytarMarker {
    background: url(/images/dingo.png) no-repeat center;
    background-size: contain;
    background-color: red;
}
#party, #partyMarker {
    background: url(/images/team.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
/* NPC styling */
#artemisAtaris, #artemisAtarisMarker {
    background: url(/images/artemis.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#cat, #catMarker {
    background: url(/images/cat.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#chicken, #chickenMarker {
    background: url(/images/chicken.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#clint, #clintMarker {
    background: url(/images/clint.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#evelyn, #evelynMarker {
    background: url(/images/evelyn.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#elliot, #elliotMarker {
    background: url(/images/elliot.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#gunther, #guntherMarker {
    background: url(/images/gunther.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#gus, #gusMarker {
    background: url(/images/gus.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#harvey, #harveyMarker {
    background: url(/images/harvey.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#honeyBear, #honeyBearMarker {
    background: url(/images/honeyBear.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#kent, #kentMarker {
    background: url(/images/kent.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#linus, #linusMarker {
    background: url(/images/linus.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#mayorLewis, #mayorLewisMarker {
    background: url(/images/mayorLewis.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#morris, #morrisMarker {
    background: url(/images/morris.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#mrWhite, #mrWhiteMarker {
    background: url(/images/mrWhite.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#pierre, #pierreMarker {
    background: url(/images/pierre.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#robyn, #robynMarker {
    background: url(/images/robyn.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#theWizard, #theWizardMarker {
    background: url(/images/theWizard.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
/* Monster styling */
#mummy, #mummyMarker {
    background: url(/images/mummy.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#rustMonster, #rustMonsterMarker {
    background: url(/images/rustMonster.png) no-repeat center;
    background-size: contain;
    background-color: white;
}
#skeleton, #skeletonMarker {
    background: url(/images/skeleton.png) no-repeat center;
    background-size: contain;
    background-color: white;
}